@font-face {
  font-family: 'YEONGJUSeonbiTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WAGURITTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  font-family: 'KingSejongInstitute' ,Menlo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;  
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --chicago-white-sox-black: #27251f;
  --chicago-white-sox-silver: #c4ced4;
  --chicago-white-sox-white: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
  color: #747bff;
}

html, body {
  max-width: 100%;
  /* div 밖으로 나가는 text 방지 */
  word-break: break-word;

  /* drag 방지 */
  user-select: none;
  -webkit-user-select: none;
}

body {
  /* display: flex; */
  margin: 0;
  margin-top: 100px;
  /* place-items: center; */
  text-align: center;
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2rem;
}

#app {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1280px;
  text-align: center;
  overflow: hidden;
}

/* ***************** Personal Settings ***************** */
/* @media (max-width: 568px) {
  #app {
    padding: 0;
    width: 90vw;
    margin: 0 1rem;
  }
} */

.flex-wrapper {
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* ***************** Personal Settings Done ***************** */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefer-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}
